
/* Variables */
:root {
    --main-font: Arial, Helvetica, sans-serif;
    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --border: 2px solid #3f3f3f;
    --bg-colour: #6b6b6b;
    --bg-dark: #333;
    --text-colour: white;
}

* {
    font-family: var(--main-font);
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url(../img/texture.png) repeat;
}

h1, h2, h3 {
    margin-top: 0;
    font-family: var(--heading-font);
}

/* Main container code */

#wrapper {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background-color: white;
}

#main-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
    ;
    overflow-y: auto;
}

/* Separated header */

#header {
    grid-area: header;
    max-height: 100%;
}

#header-img {
    width: 100%;
    object-fit: cover;
    display: block;
}

img {
    width: 100%;
}

/* Image caption config */

figure {
    margin: 1rem;
    margin-bottom: 0;
}

figcaption {
    margin-top: 1rem;
    font-style: italic;
    text-align: center;
}

/* Navbar config, changes on mobile */

nav {
    grid-area: nav;
    background-color: var(--bg-colour);
    border-top: var(--border);
    border-bottom: var(--border);
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0;
    flex-flow: row wrap;
}

nav a {
    text-decoration: none;
    text-align: center;
    padding: 1rem 40px;
    display: block;
    color: var(--text-colour);
    transition: 0.2s;
}

nav a:hover {
    color: purple;
    background-color: var(--bg-dark);
    text-decoration: underline;
}

#active {
    color:#aaaaaa;
    background-color: var(--bg-dark);
}

/* Main meat and bones of the site */

main {
    grid-area: main;
    width: 100%;
    padding: 2rem;
}

footer {
    grid-area: footer;
    text-align: center;
    width: 100%;
    padding: 2rem;
    color: var(--text-colour);
    background-color: var(--bg-colour);
    border-top: var(--border);
    border-bottom: var(--border);
}

/* Calculator grid */

.calc {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    word-break: break-all;
}

.hydrospan {
    margin-top: 1rem;
    grid-column: span 3;
}

.span3 {
    grid-column: span 3;
}

/* Form input styling */

input[type=text] {
    width: 5rem;
    background-color: var(--bg-colour);
    color: var(--text-colour);
}

summary {
    transition: 0.2s;
}

summary:hover {
    color: purple;
    text-decoration: underline;
}

/* Scrollable article part for compactness */

#articlesegment {
    border: var(--border);
    padding: 0.5rem;
    max-height: 60vh;
    overflow-y: scroll;
}

/* Mobile layout */

@media screen and (max-width: 768px) {
    #main-container {
        min-height: 100vh;
        align-content: start;
    }

    #header-img {
        object-fit: contain;
    }

    nav ul {
        flex-flow: column wrap;
    }

    nav a {
        padding: 0.8rem 0;
    }

    main {
        padding: 1rem;
    }

    footer {
        padding: 1rem;
    }
}